<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f4edc17e.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="table.css">
    <title>Hostel</title>
</head>

<body>
    <!-- Header -->
    <header id="header-inner">
        <div class="container">
            <nav id="main-nav">
                <i class="fas fa-briefcase fa-2x" id="header-logo"></i>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <form method="post" action="/slogin">
                        <li><a href="/slogin">Student Login</a></li>
                     </form>
                    <form method="post" action="/tlogin">
                        <li><a href="/tlogin" >Hostel</a></li>
                     </form>
                    <form method="post" action="/hlogin">
                        <li><a href="/hlogin" class="current">Admin</a></li>
                     </form>
                    <form method="post" action="/glogin">
                        <li><a href="/glogin">Gate Keeper</a></li>
                     </form>
               
                </ul>
            </nav>
        </div>
    </header>

    
  <div class="container"> 
    <h2 class="section-title">Admin</h2>
    <div class="bottom-line"></div>
 
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 text-center">
        <thead class="text-xs text-gray-700 uppercase bg-black-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="abc"> S.No </th>
                <th scope="col" class="px-4 py-1 "> Roll No. </th>
                <th scope="col" class="px-4 py-1 "> Name </th>
                <th scope="col" class="px-4 py-1 "> Branch </th>
                <th scope="col" class="px-4 py-1 "> Hostel </th>
                <th scope="col" class="px-4 py-1 "> Date </th>
                <th scope="col" class="px-4 py-1 "> Reason </th>
                <th scope="col" class="px-4 py-1 "> Phone No </th>
                
                <th scope="col" class="px-4 py-1 "> Status </th>
                
            </tr>
        </thead>
        <tbody>
        <% if(data.length){
 
            for(var i = 0; i< data.length; i++) {%>  
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                
              <td class="abc"><%= (i+1) %></td>
              <td class="px-6 py-4"><%= data[i].roll%></td>
              <td class="px-6 py-4"><%= data[i].name%></td>
              <td class="px-6 py-4"><%= data[i].section%></td>
              <td class="px-6 py-4"><%= data[i].hostel%></td>
              <td class="px-6 py-4"><%= data[i].date %></td>
              <td class="px-6 py-4"><%= data[i].reason%></td>
              <td class="px-6 py-4"><%= data[i].phnum%></td>
              <td class="px-6 py-4"><%= data[i].status%></td>
              <!-- <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td> -->
            
          
               
              
            
            </tr>
            <% 
             
          }
          
                     
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
              <% } %> 
              

        </tbody>
    </table>
</div>
</div>
    
    <!-- Footer -->
    <footer id="main-footer">
        <div class="footer-content">
            <p>Copyright &copy; 2023, All Rights Reserved</p>
            <div class="social">
                <a href="/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="/" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </footer>

    <!-- Typewriter Effect -->
    <script src="resources/js/typewriter.js"></script>

    <!-- Main Script File -->
    <script src="./index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script> 
</body>
</html>