<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f4edc17e.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="table.css">
    
    <title>Hostel</title>
    <style>
        .mini {
            min-height: 32rem;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header id="header-inner">
        <div class="container">
            <nav id="main-nav">
                <i class="fas fa-briefcase fa-2x" id="header-logo"></i>
                
                <ul>
                    <form method="post" action="/">
                        <li><a href="/" >Home</a></li>
                     </form>
                     <form method="post" action="/slogin">
                        <li><a href="/slogin">Student Login</a></li>
                     </form>
                    <form method="post" action="/tlogin">
                        <li><a href="/tlogin" class="current">Hostel</a></li>
                     </form>
                    <form method="post" action="/hlogin">
                        <li><a href="/hlogin">Admin</a></li>
                     </form>
                    <form method="post" action="/glogin">
                        <li><a href="/glogin">Gate Keeper</a></li>
                     </form>
               
                </ul>
            </nav>
        </div>
    </header>

    
  <div class="container"> 
    <h2 class="section-title">Approve Gate Pass</h2>
    <div class="bottom-line"></div>
 <div class="mini">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 text-center">
        <thead class="text-xs text-gray-700 uppercase bg-black-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="abc"> S.No </th>
                <th scope="col" class="px-4 py-1 "> Roll No. </th>
                <th scope="col" class="px-4 py-1 "> Name </th>
                <th scope="col" class="px-4 py-1 "> Branch </th>
                <th scope="col" class="px-4 py-1 "> Hostel </th>
                <th scope="col" class="px-4 py-1 "> From </th>
                <th scope="col" class="px-4 py-1 "> To </th>
                <th scope="col" class="px-4 py-1 "> Reason </th>
                <th scope="col" class="px-4 py-1 "> Phone No </th>
                
                <th scope="col" class="px-4 py-1 "> Action </th>
                
            </tr>
        </thead>
        <tbody>
        <% if(data.length){
 
            for(var i = 0; i< data.length; i++) {%>  
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                
              <td class="abc"><%= (i+1) %></td>
              <td class="px-6 py-4"><%= data[i].roll%></td>
              <td class="px-6 py-4"><%= data[i].name%></td>
              <td class="px-6 py-4"><%= data[i].section%></td>
              <td class="px-6 py-4"><%= data[i].hostel%></td>
              <td class="px-6 py-4"><%= data[i].date %></td>
              <td class="px-6 py-4"><%= data[i].dateout %></td>
              <td class="px-6 py-4"><%= data[i].reason%></td>
              <td class="px-6 py-4"><%= data[i].phnum%></td>
              <!-- <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td> -->
            
          
            <% if (data[i].status=='' ) { %>
              <form class="" action="/update" method="post">
                <td>
                  <input type="text" name="aid" hidden value="<%=data[i].id%>">
                  <button type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" name="accepting" value="<%= data[i].auto%>" class="cutom-btn btn-2">ACCEPT</button>
              </form>
              <form class="" action="/tdecline" method="post">
                <input type="text" name="daid" hidden value="<%=data[i].id%>">
                  <td><button type="submit" name="declining" value="<%= data[i].auto%>" class="cutom-btn btn-1">DECLINE</button></td>
                </form>  
              <%} 
              else if(data[i].status=='Declined from Clerk'){ %>
                <!-- <div class="container d-flex justify-content-center"> -->
                <td>
                 <button class="btn btn-danger">Declined</button>
                </td> 
                <!-- </div> -->
                
               <% } 
              else { %>
               <!-- <div class="container d-flex justify-content-center"> -->
               <td>
                <button class="btn btn-success">Approved</button>
               </td> 
               <!-- </div> -->
               
              <% } %>

            
            </tr>
            <% 
             
          }
          
                     
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
              <% } %> 
              

        </tbody>
    </table>
</div>
</div>
</div>
    <!-- Footer -->
    <footer id="main-footer">
        <div class="footer-content">
            <p>Copyright &copy; 2023, All Rights Reserved</p>
            <div class="social">
                <a href="https://twitter.com/NITJofficial" target="_blank"><i class="fab fa-twitter" style="display: inline;"></i></a>
                <a href="https://www.facebook.com/NITJofficial/" target="_blank"><i class="fab fa-facebook" style="display: inline;"></i></a>
                <a href="https://www.instagram.com/nitjofficial/" target="_blank"><i class="fab fa-instagram" style="display: inline;"></i></a>
                <a href="https://www.linkedin.com/school/dr-b-r-ambedkar-national-institute-of-technology-jalandhar-official/" target="_blank"><i class="fab fa-linkedin" style="display: inline;"></i></a>
                <a href="https://github.com/GDSC-NITJ/" target="_blank"><i class="fab fa-github" style="display: inline;"></i></a>
            </div>
        </div>
    </footer>


   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script> 
</body>
</html>